name: Run Mineflayer Bot

on:
  workflow_dispatch:   # chạy tay
  push:                # chạy khi push code
    branches: [ main ]

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Download proxy lists
        run: |
          curl -sSL -o socks5_raw.txt https://raw.githubusercontent.com/TheSpeedX/SOCKS-List/master/socks5.txt
          grep -Eo '([0-9]{1,3}\.){3}[0-9]{1,3}:[0-9]+' socks5_raw.txt | sort -u > socks5_clean.txt
          curl -sSL -o socks4_raw.txt https://raw.githubusercontent.com/TheSpeedX/SOCKS-List/master/socks4.txt
          grep -Eo '([0-9]{1,3}\.){3}[0-9]{1,3}:[0-9]+' socks4_raw.txt | sort -u > socks4_clean.txt

      - name: Check proxies
        run: node check_proxies.js socks5_clean.txt echomc.asia 25565

      - name: Run bot
        run: node bot.js
        env:
          SERVER_HOST: echomc.asia
          SERVER_PORT: 25565
          BOT_PASS: 11qqaa22wwss
